[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
webdriver-manager = "*"
python-docx = "*"
validators = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
mypy = "*"
black = "*"
pyinstaller = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[scripts]
scrape = "python src/main.py"
lint = "python -m mypy . --ignore-missing-imports"
test = "pytest -vv"
