[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
webdriver-manager = "*"
python-docx = "*"
validators = "*"
pyinstaller = "*"

[dev-packages]
pytest = "*"
mypy = "*"
black = "*"

[requires]
python_version = "3.8"

[scripts]
scrape = "python src/main.py"

[pipenv]
allow_prereleases = true